.section3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  background-color: #cbe0fe;
  padding: min(70px, 5vw);
  margin-top: 50px;
  row-gap: 90px;
}
.section3-title {
  font-size: clamp(1.6rem, 7vw, 3.5rem);
  font-weight: 700;
}
.section3-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.section3-row {
  display: flex;
  align-items: flex-start;
  column-gap: 40px;
  row-gap: 20px;
}

.row-title-wrapper {
  width: clamp(60px, 25%, 130px);
}
.row-title {
  font-family: grotesk-thin;
  letter-spacing: 20%;
  font-size: clamp(0.7rem, 2vw + 0.3rem, 1rem);
}
.row-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  width: clamp(100px, 60%, 650px);
}
.row-subtitle {
  font-size: clamp(1.4rem, 6vw, 2.3rem);
  font-weight: 600;
}
.row-content {
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  font-weight: 350;
  line-height: 120%;
}

.white-line {
  width: 100%;
  background-color: black;
  height: 1px;
  margin: 20px 0;
}

@media (max-width: 750px) {
  .section3 {
    row-gap: 45px;
  }
  .section3-row {
    flex-direction: column;
  }
  .row-title-wrapper,
  .row-content-wrapper {
    width: 100%;
  }
}
